@page "/{user}/{error?}"
@using razor_pages.Misc
@model UserTimelineModel
@{
    ViewData["Title"] = Model.Username + "'s Timeline";
    Layout = "Shared/_Layout";
}
@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="error"><strong>Error:</strong> @Model.Error</div>
}

<div>
    <header>
        <h2> @(Model.Username)'s Timeline </h2> 
    </header>
    <div class="followstatus">
        @if (Model.Username == User.Identity?.Name) 
        { 
            @:This is you!
        }
        else if (Model.Followed)
        {
            <div>
                
                <p>You are currently following this user.</p>
                <form method="post">
                    <div class="actions"><input type="submit" value="Unfollow user"/></div>
                </form>
            </div>
            
        }
        else
        {
            <div>
                
                <p>You are not yet following this user.</p>
                <form method="post">
                    <div class="actions"><input type="submit" value="Follow user"/></div>
                </form>
            </div>
            
        }
    </div>
    <ul class="messages">
        @if (Model.Messages.Any())
        {
            @foreach (var message in Model.Messages)
            {
                <li><img src="@Helpers.GenerateGravatarUrl(message.author.email)"/>
                    <strong><a href="/@message.author.name"> @message.author.name </a></strong>
                    @message.text
                    <small>&mdash; @message.pub_date.ToString("yyyy-MM-dd @ HH:mm") </small>
                </li>
            }
        }
        else
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
</div>
