@page "/"
@using Web.API.Misc
@model MyTimelineModel
@{
    ViewData["Title"] = "My Timeline";
    Layout = "Shared/_Layout";
}

<div>
    <header>
        <h2> My Timeline </h2> 
    </header>
    
    <div class=twitbox>
        <h3>What's on your mind @User.Identity?.Name?</h3>
        <form method="post" asp-page-handler="CreateMessage">
            <p>
                <input type="text" name="text" size="60" maxlength="500"><!--
                --><input type="submit" value="Share">
            </p>
        </form>
    </div>

    <ul class="messages">
        @if (Model.Messages.Any())
        {
            @foreach (var message in Model.Messages)
            {
                <li>
                    <img src="@Helpers.GenerateGravatarUrl(message.AuthorEmail)"/>
                    <strong><a href="/@message.AuthorName"> @message.AuthorName </a></strong>
                    @message.Text
                    <small>&mdash; @message.PubDate </small>
                </li>
            }
        }
        else
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
    <div class="pagination">
        @if (Model.PageNumber - 5 > 1)
        {
            <a href="/?Page=1" class="first">First</a>
        }
        @if (Model.PageNumber > 1)
        {
            <a href="/?Page=@(Model.PageNumber - 1)" class="prev">Previous</a>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 5); i <= Math.Min(Model.TotalPages, Model.PageNumber + 5); i++)
        {
            if (i == Model.PageNumber)
            {
                <span class="current">@i</span>
            }
            else
            {
                <a href="/?Page=@i">@i</a>
            }
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <a href="/?Page=@(Model.PageNumber + 1)" class="next">Next</a>
        }
        @if (Model.PageNumber + 5 < Model.TotalPages)
        {
            <a href="/?Page=@(Model.TotalPages)" class="last">Last</a>
        }
    </div>
</div>