@page "/public"
@using Web.API.Misc
@model Web.Pages.PublicTimelineModel
@{
    ViewData["Title"] = "Public Timeline";
}

<div>
    <header>
        <h2>Public Timeline</h2>
    </header>

    <ul class="messages">
        @if (Model.Messages.Any())
        {
            @foreach (var message in Model.Messages)
            {
                <li>
                    <img src="@Helpers.GenerateGravatarUrl(message.author_email)" />
                    <strong><a href="/@message.author_name">@message.author_name</a></strong>
                    @message.text
                    <small>&mdash; @message.pub_date</small>
                </li>
            }
        }
        else
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
    <div class="pagination">
        @if (Model.Page > 1)
        {
            <a href="/public?Page=@(Model.Page - 1)" class="prev">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.Page)
            {
                <span class="current">@i</span>
            }
            else
            {
                <a href="/public?Page=@i">@i</a>
            }
        }

        @if (Model.Page < Model.TotalPages)
        {
            <a href="/public?Page=@(Model.Page + 1)" class="next">Next</a>
        }
    </div>
</div>